<% if (productsData.status) { %>
    <h2 id="scroll-to">Frequently Bought Together</h2>
    <div class="fbt-container">
        <div class="row-fbt owl-carousel owl-theme" id="fbt-carousel-blog">
            <% productsData.associated_products.forEach(function(associatedProduct) { %>
                <div class="column-item">
                <div class="row-fbt">
                    <div class="block-container column-2">
                        <div class="pad-block">
                            <div class="fbt-image-container">
                                <a href="<%= productsData.parent_product.url %>" title="<%= productsData.parent_product.name %>">
                                    <img src="<%= productsData.parent_product.image %>">
                                </a>
                            </div>
                            <div class="product-name">
                                <a href="<%= productsData.parent_product.url %>" title="<%= productsData.parent_product.name %>">
                                    <%= productsData.parent_product.name %>
                                </a>
                            </div>
                            <div class="price-block">
                                <%= productsData.parent_product.price_html %>
                            </div>
                            <div class="grant-total">
                                <%= associatedProduct.total_price %>
                            </div>
                        </div>
                    </div>
                    <span class="additional-product">+</span>
                    <div class="block-container column-2">
                        <div class="pad-block">
                            <div class="fbt-image-container">
                                <a href="<%= associatedProduct.url %>" title="<%= associatedProduct.name %>">
                                    <img src="<%= associatedProduct.image %>" />
                                </a>
                            </div>
                            <div class="product-name">
                                <a href="<%= associatedProduct.url %>" title="<%= associatedProduct.name %>">
                                    <%= associatedProduct.name %>
                                </a>
                            </div>
                            <div class="price-block">
                                <%= associatedProduct.price_html %>
                            </div>
                            <div class="action tocart primary">
                                <form name="addToCartForm" id="add_cart_<%= associatedProduct.id %>" action="" method="POST">
                                    <input type="hidden" name="product_parent" value="<%= productsData.parent_product.id %>" />
                                    <input type="hidden" name="product_associated" value="<%= associatedProduct.id %>" />
                                    <button type="button" class="add-to-cart-fbt">
                                        Add to Cart
                                    </button>
                                </form>

                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <% }); %>
        </div>
    </div>
<% } %>